%table.torrents_list.table{ 'data-same-movies' => @same_movies}
  %thead
    %tr
      %th #
      %th Movie
      %th#format Format
      %th Rating
  %tbody
    - @torrents.each_with_index do |torrent, i|
      %tr{ 'data-movie-format' => torrent.release_format_id, :id => ['torrent', torrent.id]}
        %td.position= i + 1
        %td.movie
          = image_tag torrent.movie_poster(:thumb), :class => 'movie_poster', :title => torrent.movie_title, :alt => torrent.movie_title
          %div
            %h2= torrent.movie_title
            %div= torrent.movie_plot
            %div.btn-group
              = link_to torrent.magnet, :class => 'btn', 'data-tooltip' => true, :title => 'Grab Torrent Magnet' do
                %i.icon-magnet
                Download Magnet
              %a.btn.dropdown-toggle{'data-toggle' => 'dropdown'}
                %span.caret
              %ul.dropdown-menu
                %li
                  = link_to torrent.movie_url do
                    %i.icon-film
                    IMDb
                %li
                  = link_to torrent.url do
                    %i.icon-file
                    The Pirate Bay
                %li
                  = link_to torrent.movie_amazon_url do
                    %i.icon-shopping-cart
                    Buy at Amazon
        %td.format
          %div{:title => torrent.release_format_description, 'data-tooltip' => true}= torrent.release_format_name
        %td.rating= format_rating(torrent.movie_rating)
