%h1 Top 100 Movies
%table.torrents_list.table.table-striped
  %thead
    %tr
      %th #
      %th Movie
      %th Format
      %th Rating
  %tbody
    - @torrents.each_with_index do |torrent, i|
      %tr
        %td= i + 1
        %td
          = image_tag torrent.movie_image, :class => 'movie_poster', :title => torrent.movie_title
          %div
            %h2= torrent.movie_title
            %div= torrent.movie_plot
            %div.btn-group
              = link_to torrent.tracker, :class => 'btn' do
                %i.icon-download-alt
                Download
              = link_to torrent.magnet, :class => 'btn' do
                %i.icon-magnet
                Magnet
        %td.format= torrent.release_format_name
        = format_rating(torrent.movie_rating)
