%div.last_update.pull-right
  %strong Last Update:
  %span{ :title => @update.created_at.getutc.iso8601 }= @update.created_at.to_s
%table.torrents_list.table.table-striped
  %thead
    %tr
      %th #
      %th Movie
      %th Format
      %th Rating
  %tbody
    - @torrents.each_with_index do |torrent, i|
      %tr
        %td= i + 1
        %td
          = image_tag torrent.movie_poster(:thumb), :class => 'movie_poster', :title => torrent.movie_title, :alt => torrent.movie_title
          %div
            %h2= torrent.movie_title
            %div= torrent.movie_plot
            %div.btn-group
              = link_to torrent.tracker, :class => 'btn', 'data-tooltip' => true, :title => 'Download Torrent' do
                %i.icon-download-alt
                Download
              = link_to torrent.magnet, :class => 'btn', 'data-tooltip' => true, :title => 'Grab Torrent Magnet' do
                %i.icon-magnet
                Magnet
              %a.btn.dropdown-toggle{'data-toggle' => 'dropdown'}
                %span.caret
              %ul.dropdown-menu
                %li= link_to 'IMDb', torrent.movie_url
                %li= link_to 'The Pirate Bay', torrent.url
        %td.format
          %div{:title => torrent.release_format_description, 'data-tooltip' => true}= torrent.release_format_name
        %td.rating= format_rating(torrent.movie_rating)
